In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import glob

In [24]:
# Day -2 pricing data
prices_day_minus_2 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\prices_round_1_day_-2.csv", sep=';')
print(f"Loaded prices for day -2: {len(prices_day_minus_2)} rows")

prices_day_minus_1 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\prices_round_1_day_-1.csv", sep=';')
print(f"Loaded prices for day -1: {len(prices_day_minus_1)} rows")

# Day 0 pricing data
prices_day_0 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\prices_round_1_day_0.csv", sep=';')
print(f"Loaded prices for day 0: {len(prices_day_0)} rows")

prices_day_minus_2['day_from_file'] = -2
prices_day_minus_1['day_from_file'] = -1
prices_day_0['day_from_file'] = 0

all_prices_df = pd.concat([prices_day_minus_2, prices_day_minus_1, prices_day_0], ignore_index=True)

# Print information about the combined DataFrame
print(f"Combined trades DataFrame has {len(all_prices_df)} rows")
print(f"Columns: {all_prices_df.columns.tolist()}")

Loaded prices for day -2: 30000 rows
Loaded prices for day -1: 30000 rows
Loaded prices for day 0: 30000 rows
Combined trades DataFrame has 90000 rows
Columns: ['day', 'timestamp', 'product', 'bid_price_1', 'bid_volume_1', 'bid_price_2', 'bid_volume_2', 'bid_price_3', 'bid_volume_3', 'ask_price_1', 'ask_volume_1', 'ask_price_2', 'ask_volume_2', 'ask_price_3', 'ask_volume_3', 'mid_price', 'profit_and_loss', 'day_from_file']

In [3]:
# Day -2 pricing data
trades_day_minus_2 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\trades_round_1_day_-2.csv", sep=';')
print(f"Loaded prices for day -2: {len(trades_day_minus_2)} rows")

trades_day_minus_1 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\trades_round_1_day_-1.csv", sep=';')
print(f"Loaded prices for day -1: {len(trades_day_minus_1)} rows")

# Day 0 pricing data
trades_day_0 = pd.read_csv("C:\\Users\\asrir\\OneDrive\\Documents\\GitHub\\prosperity3\\round-1-island-data-bottle\\round-1-island-data-bottle\\trades_round_1_day_0.csv", sep=';')
print(f"Loaded prices for day 0: {len(trades_day_0)} rows")

trades_day_minus_2['day_from_file'] = -2
trades_day_minus_1['day_from_file'] = -1
trades_day_0['day_from_file'] = 0

all_trades_df = pd.concat([trades_day_minus_2, trades_day_minus_1, trades_day_0], ignore_index=True)

# Print information about the combined DataFrame
print(f"Combined trades DataFrame has {len(all_trades_df)} rows")
print(f"Columns: {all_trades_df.columns.tolist()}")

Loaded prices for day -2: 8398 rows
Loaded prices for day -1: 8306 rows
Loaded prices for day 0: 8182 rows
Combined trades DataFrame has 24886 rows
Columns: ['timestamp', 'buyer', 'seller', 'symbol', 'currency', 'price', 'quantity', 'day_from_file']

In [40]:
all_prices_df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,day_from_file
0,-2,0,RAINFOREST_RESIN,9996,1,9995.0,25.0,NaN,NaN,10004,1,10005.0,25.0,NaN,NaN,10000.0,0.0,-2
1,-2,0,KELP,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0,-2
2,-2,0,SQUID_INK,1998,26,NaN,NaN,NaN,NaN,2002,26,NaN,NaN,NaN,NaN,2000.0,0.0,-2
3,-2,100,SQUID_INK,1999,5,1998.0,26.0,NaN,NaN,2001,20,NaN,NaN,NaN,NaN,2000.0,0.0,-2
4,-2,100,RAINFOREST_RESIN,10000,5,9995.0,20.0,NaN,NaN,10005,20,NaN,NaN,NaN,NaN,10002.5,0.0,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,0,999800,KELP,2032,27,NaN,NaN,NaN,NaN,2034,1,2035.0,27.0,NaN,NaN,2033.0,0.0,0
89996,0,999800,RAINFOREST_RESIN,9995,27,NaN,NaN,NaN,NaN,10005,27,NaN,NaN,NaN,NaN,10000.0,0.0,0
89997,0,999900,RAINFOREST_RESIN,9996,2,9995.0,21.0,NaN,NaN,10004,2,10005.0,21.0,NaN,NaN,10000.0,0.0,0
89998,0,999900,SQUID_INK,1838,23,NaN,NaN,NaN,NaN,1841,23,NaN,NaN,NaN,NaN,1839.5,0.0,0
89999,0,999900,KELP,2032,23,NaN,NaN,NaN,NaN,2035,23,NaN,NaN,NaN,NaN,2033.5,0.0,0

In [ ]:
def fill_bid_ask_two_phase(df):
    """
    Fill NaN values in bid/ask columns using a two-phase approach:
    1. Ensure bid_price_1, bid_volume_1, ask_price_1, and ask_volume_1 are filled
    2. Fill bid_price_2, bid_volume_2, bid_price_3, bid_volume_3 with bid_price_1, bid_volume_1 if they are NaN
    3. Fill ask_price_2, ask_volume_2, ask_price_3, ask_volume_3 with ask_price_1, ask_volume_1 if they are NaN
    """
    df = df.copy()
    
    df['bid_price_2'] = df['bid_price_2'].fillna(df['bid_price_1'])
    df['bid_volume_2'] = df['bid_volume_2'].fillna(df['bid_volume_1'])
    
    df['bid_price_3'] = df['bid_price_3'].fillna(df['bid_price_1'])
    df['bid_volume_3'] = df['bid_volume_3'].fillna(df['bid_volume_1'])
    
    # For ask columns
    df['ask_price_2'] = df['ask_price_2'].fillna(df['ask_price_1'])
    df['ask_volume_2'] = df['ask_volume_2'].fillna(df['ask_volume_1'])
    
    df['ask_price_3'] = df['ask_price_3'].fillna(df['ask_price_1'])
    df['ask_volume_3'] = df['ask_volume_3'].fillna(df['ask_volume_1'])
    
    return df

In [42]:
filled_prices_df = fill_bid_ask_two_phase(all_prices_df)

In [43]:
bid_ask_cols = [col for col in filled_prices_df.columns if 'bid_' in col or 'ask_' in col]
remaining_nans = filled_prices_df[bid_ask_cols].isna().sum()
print("Remaining NaN values in bid/ask columns:")
print(remaining_nans)

Remaining NaN values in bid/ask columns:
bid_price_1     0
bid_volume_1    0
bid_price_2     0
bid_volume_2    0
bid_price_3     0
bid_volume_3    0
ask_price_1     0
ask_volume_1    0
ask_price_2     0
ask_volume_2    0
ask_price_3     0
ask_volume_3    0
dtype: int64

In [45]:
filled_prices_df

,day,timestamp,product,bid_price_1,bid_volume_1,bid_price_2,bid_volume_2,bid_price_3,bid_volume_3,ask_price_1,ask_volume_1,ask_price_2,ask_volume_2,ask_price_3,ask_volume_3,mid_price,profit_and_loss,day_from_file
0,-2,0,RAINFOREST_RESIN,9996,1,9995.0,25.0,9996.0,1.0,10004,1,10005.0,25.0,10004.0,1.0,10000.0,0.0,-2
1,-2,0,KELP,1998,26,1998.0,26.0,1998.0,26.0,2002,26,2002.0,26.0,2002.0,26.0,2000.0,0.0,-2
2,-2,0,SQUID_INK,1998,26,1998.0,26.0,1998.0,26.0,2002,26,2002.0,26.0,2002.0,26.0,2000.0,0.0,-2
3,-2,100,SQUID_INK,1999,5,1998.0,26.0,1999.0,5.0,2001,20,2001.0,20.0,2001.0,20.0,2000.0,0.0,-2
4,-2,100,RAINFOREST_RESIN,10000,5,9995.0,20.0,10000.0,5.0,10005,20,10005.0,20.0,10005.0,20.0,10002.5,0.0,-2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
89995,0,999800,KELP,2032,27,2032.0,27.0,2032.0,27.0,2034,1,2035.0,27.0,2034.0,1.0,2033.0,0.0,0
89996,0,999800,RAINFOREST_RESIN,9995,27,9995.0,27.0,9995.0,27.0,10005,27,10005.0,27.0,10005.0,27.0,10000.0,0.0,0
89997,0,999900,RAINFOREST_RESIN,9996,2,9995.0,21.0,9996.0,2.0,10004,2,10005.0,21.0,10004.0,2.0,10000.0,0.0,0
89998,0,999900,SQUID_INK,1838,23,1838.0,23.0,1838.0,23.0,1841,23,1841.0,23.0,1841.0,23.0,1839.5,0.0,0
89999,0,999900,KELP,2032,23,2032.0,23.0,2032.0,23.0,2035,23,2035.0,23.0,2035.0,23.0,2033.5,0.0,0

In [47]:
filled_prices_df.to_csv("all_prices_data.csv", index=False)
print("Saved combined prices data to 'filled_prices_data.csv'")

Saved combined prices data to 'filled_prices_data.csv'

In [4]:
all_trades_df

,timestamp,buyer,seller,symbol,currency,price,quantity,day_from_file
0,0,NaN,NaN,KELP,SEASHELLS,2002.0,1,-2
1,0,NaN,NaN,RAINFOREST_RESIN,SEASHELLS,9996.0,1,-2
2,0,NaN,NaN,RAINFOREST_RESIN,SEASHELLS,9996.0,1,-2
3,0,NaN,NaN,SQUID_INK,SEASHELLS,2002.0,1,-2
4,100,NaN,NaN,KELP,SEASHELLS,2002.0,6,-2
...,...,...,...,...,...,...,...,...
24881,999500,NaN,NaN,KELP,SEASHELLS,2032.0,2,0
24882,999500,NaN,NaN,RAINFOREST_RESIN,SEASHELLS,9995.0,2,0
24883,999500,NaN,NaN,SQUID_INK,SEASHELLS,1830.0,2,0
24884,999600,NaN,NaN,KELP,SEASHELLS,2032.0,1,0
24885,999600,NaN,NaN,SQUID_INK,SEASHELLS,1832.0,1,0